<section class="categories admin-style">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-sm-12 ">
                        <h4 class="mb-0">Product Categories List</h4>
                    </div>
                </div>
            </div>

            <!-- accordion -->
            <div class="col-12">
                <div class="accordion border-0 my-4" id="categories_accordion">
                    <div class="accordion-item border-0">
                        <div id="addcategoryaccordion" class="accordion-collapse collapse  "
                            data-bs-parent="#categories_accordion">
                            <div class="accordion-body p-0">
                                <div class="card border-0">
                                    <div class="card-header mx-3 p-3 px-0">
                                        <h5 class="m-0">Add Product Category</h5>
                                    </div>
                                    <div class="card-body">
                                        <form [formGroup]="addCategoryForm">
                                            <div class="row">
                                                <div class="col-4">
                                                    <div class="mb-3">
                                                        <label class="form-label">Category</label><span
                                                            class="text-danger">*</span>
                                                        <input type="text" class="form-control"
                                                            formControlName="category_name"
                                                            placeholder="Enter category name">
                                                        <small
                                                            *ngIf="addCategoryForm.controls['category_name'].hasError('required') && addCategoryForm.controls['category_name'].touched"
                                                            class=" text-danger">
                                                            *Please Enter Category Name
                                                        </small>
                                                    </div>
                                                </div>
                                                <div class="col-4">
                                                    <div class="mb-3">
                                                        <label class="form-label">Image</label><span
                                                            class="text-danger">*</span>
                                                        <input type="file" class="form-control" #imageInput
                                                            (change)="handleFileInput($event)"
                                                            placeholder="Enter category name" formControlName="image">
                                                        <small
                                                            *ngIf="addCategoryForm.controls['image'].hasError('required') && addCategoryForm.controls['image'].touched"
                                                            class=" text-danger">
                                                            *Please Upload Category Image
                                                        </small>
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="mb-3">
                                                        <label class="form-label">Description</label>
                                                        <p-editor formControlName="description"
                                                            [style]="{ height: '150px' }"></p-editor>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="card-footer text-end mx-3 px-0 py-3">
                                        <button class="btn btn-secondary me-3" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#addcategoryaccordion">Cancel</button>
                                        <button class="btn btn-primary" type="submit"
                                            [disabled]="addCategoryForm.invalid" data-bs-toggle="collapse"
                                            data-bs-target="#addcategoryaccordion"
                                            (click)="addServiceCategory()">Add</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item border-0">
                        <div id="updatecategoryaccordion" class="accordion-collapse collapse  "
                            data-bs-parent="#categories_accordion">
                            <div class="accordion-body p-0">
                                <div class="card border-0">
                                    <div class="card-header mx-3 p-3 px-0">
                                        <h5 class="m-0">Update Product Category</h5>
                                    </div>
                                    <div class="card-body">
                                        <form [formGroup]="updateCategoryForm">
                                            <div class="row">
                                                <div class="col-4">
                                                    <div class="mb-3">
                                                        <label class="form-label">Category</label><span
                                                            class="text-danger">*</span>
                                                        <input type="text" class="form-control"
                                                            formControlName="category"
                                                            placeholder="Enter category name">

                                                    </div>
                                                </div>
                                                <div class="col-4">
                                                    <div class="mb-3">
                                                        <label class="form-label">Image</label><span
                                                            class="text-danger">*</span>
                                                        <input type="file" class="form-control" #imageInput
                                                            (change)="handleFileInput($event)"
                                                            placeholder="Enter category name">

                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="mb-3">
                                                        <label class="form-label">Description</label>
                                                        <p-editor formControlName="description"
                                                            [style]="{ height: '150px' }"></p-editor>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="card-footer text-end mx-3 px-0 py-3">
                                        <button class="btn btn-secondary me-3" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#updatecategoryaccordion">Cancel</button>
                                        <button class="btn btn-primary" type="submit" data-bs-toggle="collapse"
                                            data-bs-target="#updatecategoryaccordion"
                                            (click)="updatecategory()">Update</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- main table -->
            <div class="col-sm-12 ">
                <div class="card border-0">
                    <div class="card-body">
                        <p-table #dt3 [value]="product_categories" [rows]="5"
                            [paginator]="product_categories.length > 5"
                            [globalFilterFields]="['description','category_name', 'secondary_id']"
                            styleClass="p-datatable-gridlines" [tableStyle]="{'min-width': '50rem'}">
                            <ng-template pTemplate="caption">

                                <div class="flex">
                                    <span class="p-input-icon-left ml-auto border rounded">
                                        <i class="pi pi-search"></i>
                                        <input pInputText type="text"
                                            (input)="dt3.filterGlobal($any($event.target).value, 'contains')"
                                            placeholder="Search keyword" />
                                    </span>

                                    <button class="btn btn-primary float-end  " type="button" data-bs-toggle="collapse"
                                        data-bs-target="#addcategoryaccordion">
                                        <i class="pi pi-plus me-1"> </i>
                                        Add Category
                                    </button>
                                </div>
                            </ng-template>

                            <ng-template pTemplate="header">
                                <tr>
                                    <th class="text-center">Sr No</th>
                                    <th class="text-center">Image</th>
                                    <th class="text-center">Category Name</th>
                                    <th class="text-center w-25">Category Id</th>
                                    <th class="text-start">Description</th>
                                    <th class="text-center">Action</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-product_categories let-i="rowIndex">
                                <tr>
                                    <td class="text-center">{{ i + 1 }}</td>
                                    <td class="text-center cursor-pointer" (click)="openFolder(product_categories)">
                                        <img [src]="product_categories?.catImage" class="img-fluid" width="50" alt="">
                                    </td>
                                    <td class="text-center cursor-pointer" (click)="openFolder(product_categories)">
                                        {{product_categories?.categoryName}}</td>
                                    <!-- <td class="text-center cursor-pointer" (click)="openFolder(product_categories)">
                                        {{product_categories?.secondary_id}}</td> -->

                                        <td class="text-center white-space">
                                            {{ product_categories?.category_id }}
                                            <i class="fas fa-copy ms-2 cursor-pointer" (click)="navigateCopyClipboard(product_categories?.secondary_id)"></i>
                                        </td>
                                        
                                    <td class="text-start">
                                        <div *ngIf="isDataAvailable()" [innerHTML]=" isExpanded ? (product_categories?.catDesc | titlecase) :
                                                notMoreThan50Words(product_categories?.catDesc) | titlecase ">
                                        </div>
                                        <span *ngIf="product_categories?.catDesc.split(' ').length > 20">
                                            <a class="cursor-pointer text-decoration-none icon"
                                                (click)=" isExpanded = !isExpanded">{{
                                                isExpanded ? 'show less...' : 'show more...' }}</a>
                                        </span>
                                        <div class="text-danger" *ngIf="!isDataAvailable()">!!No data available</div>
                                    </td>
                                    <td class="text-center">
                                        <i class="mx-1 pi pi-pencil cursor-pointer"
                                            (click)="patchValue(product_categories)" data-bs-toggle="collapse"
                                            data-bs-target="#updatecategoryaccordion"></i>
                                        <i class="mx-1 pi pi-trash cursor-pointer"
                                            (click)="patchValue(product_categories)" data-bs-toggle="modal"
                                            data-bs-target="#categorydeletemodal"></i>
                                    </td>
                                </tr>
                            </ng-template>

                        </p-table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<p-toast position="top-right"></p-toast>


<!-- Categoruy  delete model-->
<div class="modal fade" id="categorydeletemodal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Delete Category</h5>
                <button type="button" class="btn-close p-2 closebtnofArtist" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                <h5 class="fw-bold">
                    Are you sure you want to Delete Category?
                </h5>
            </div>
            <div class="modal-footer text-end">
                <button class="btn btn-secondary me-3" data-bs-dismiss="modal">No</button>
                <button class="btn btn-primary" (click)="deleteCategory()" type="submit" data-bs-dismiss="modal"
                    aria-label="Close">Delete</button>
            </div>
        </div>
    </div>
</div>