<Section class="block privacy_policy policy">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h4 class="main-heading  m-0">Privacy Policy</h4>
                <p class="subtitle">Lorem ipsum dolor sit amet.</p>
            </div>
            <div class="col-12 mt-4">
                <h4>Lorem ipsum dolor sit amet.</h4>
                <p class="text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta, aliquam magni voluptas
                    maxime atque reiciendis impedit eum recusandae cumque ex?</p>
                <p class="text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta, aliquam magni voluptas
                    maxime atque reiciendis impedit eum recusandae cumque ex? Lorem ipsum dolor sit amet consectetur
                    adipisicing elit. Facilis veritatis neque ex inventore nemo repellendus esse dignissimos numquam
                    nisi, quasi dolorum placeat odio eius quis eveniet, quia porro. Sit hic praesentium itaque ab vero
                    similique. Ipsam, optio laudantium eius magni voluptatibus ad autem quas praesentium harum eligendi,
                    illo beatae atque est quia voluptatem labore! Ipsam vel in, cupiditate minus iusto hic, vitae
                    dolores assumenda corrupti quod ipsa perspiciatis velit ut quibusdam qui numquam ad autem minima,
                    dolore suscipit alias. Cum exercitationem, optio sint ex nesciunt voluptatem doloremque laboriosam
                    possimus voluptate vitae debitis laudantium obcaecati expedita veritatis repudiandae a nisi
                    voluptatum ut perspiciatis, libero consequuntur assumenda quae! Repellendus autem eaque deserunt
                    animi maxime debitis rerum, fugit quod aspernatur, repudiandae dolores alias delectus saepe
                    inventore error ratione laboriosam modi doloribus enim reiciendis? Sint, laudantium! Mollitia omnis
                    adipisci cumque nisi error odit culpa minus, iusto veritatis cum minima tempore rem nulla.
                    Voluptatibus, deserunt.</p>
                <p class="text">Lor Lorem ipsum dolor, sit amet consectetur adipisicing elit. Delectus, optio animi
                    molestiae, mollitia odit beatae necessitatibus hic alias amet blanditiis autem eveniet, velit
                    sapiente reprehenderit error harum doloribus veritatis minus! Totam sunt temporibus ut rerum aperiam
                    repellat pariatur unde cum nisi dolorum voluptas, iusto modi ea, alias voluptatem assumenda itaque
                    eos recusandae voluptate! Natus cum laboriosam corporis aperiam repellat odio provident rerum
                    deserunt dolore dicta nisi, aspernatur exercitationem iusto ipsam tempore ad! Ratione hic, facere
                    sunt quisquam alias fugiat itaque distinctio aliquam esse aspernatur, veritatis consequuntur,
                    consectetur praesentium? Eum voluptate iusto facilis eos nemo praesentium quia saepe necessitatibus
                    a aspernatur.em ipsum, dolor sit amet consectetur adipisicing elit. Dicta, aliquam magni voluptas
                    maxime atque reiciendis impedit eum recusandae cumque ex?</p>
                <p class="text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta, aliquam magni voluptas
                    maxime atque orem ipsum, dolor sit amet consectetur adipisicing elit. Dicta, aliquam magni voluptas
                    maxime atque.</p>
            </div>
        </div>
    </div>
</Section>
