<section class="block checkout__page">
    <div class="container">
        <div class="row">
            <!-- section 2 -->
            <div class="col-6">
                <div class="row">
                    <div class="col-12">
                        <div class="mb-3">
                            <h3 class="title-main">Billing Details</h3>
                            <div class="title-main-dash"></div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="mb-3">
                            <label class="form-label">First Name</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="mb-3">
                            <label class="form-label">Last Name</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="mb-3">
                            <label class="form-label">Email</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="mb-3">
                            <label class="form-label">Phone</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="mb-3">
                            <label class="form-label">Country</label>
                            <select class="form-select">
                                <option selected>India</option>
                                <!-- <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option> -->
                            </select>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="mb-3">
                            <label class="form-label">Address</label>
                            <textarea class="form-control" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="mb-3">
                            <label class="form-label">State</label>
                            <select class="form-select">
                                <option selected>Maharashtra</option>
                                <option value="1">Gujrat</option>
                                <option value="2">Karnataka</option>
                                <option value="3">Delhi</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="mb-3">
                            <label class="form-label">City</label>
                            <select class="form-select">
                                <option selected>Thane</option>
                                <option value="1">Mumbai</option>
                                <option value="2">Pune</option>
                                <option value="3">Nasik</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="mb-3">
                            <label class="form-label">Pincode</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="mb-3">
                            <label class="form-label">Landmark</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-6">
                <div class="card border-0 rounded-0 my_order__details">
                    <div class="card-header p-5 pb-0 border-0">
                        <h3 class="title-main">Your order</h3>
                        <div class="title-main-dash"></div>
                    </div>
                    <div class="card-body p-5">
                        <div class="row mb-3 border-bottom">
                            <div class="col-7">
                                <h4 class="products">Product</h4>
                            </div>
                            <div class="col-5 text-end">
                                <p class="total_amt">Total</p>
                            </div>
                        </div>
                        <div class="row mb-3 border-bottom">
                            <div class="col-7">
                                <div class="product__image d-flex flex-row mb-3">
                                    <div class="image me-3">
                                        <img src="assets/images/products/headphone__01.png" width="50" alt=""
                                            class="img-fluid">
                                    </div>
                                    <div class="my-auto">
                                        <p class="m-0">Name</p>
                                        <span>category</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-5 my-auto text-end">
                                <p class="amt__data">₹150</p>
                            </div>
                        </div>

                        <div class="row mb-3 border-bottom">
                            <div class="col-7">
                                <div class="product__image d-flex flex-row mb-3">
                                    <div class="image me-3">
                                        <img src="assets/images/products/headphone__01.png" width="50" alt=""
                                            class="img-fluid">
                                    </div>
                                    <div class="my-auto">
                                        <p class="m-0">Name</p>
                                        <span>category</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-5 my-auto text-end">
                                <p class="amt__data">₹150</p>
                            </div>
                        </div>

                        <div class="row mb-3 border-bottom">
                            <div class="col-7">
                                <h4 class="amt__data">Subtotal</h4>
                            </div>
                            <div class="col-5 text-end">
                                <p class="amt__data">₹15000</p>
                            </div>
                        </div>

                        <div class="row mb-3 border-bottom">
                            <div class="col-7">
                                <h4 class="amt__data">Shipping</h4>
                            </div>
                            <div class="col-5 text-end">
                                <p class="amt__data">₹150</p>
                            </div>
                        </div>

                        <div class="row mb-5 final__total border-bottom">
                            <div class="col-7">
                                <h4 class="total_amt mb-2 text-dark">Grand Total</h4>
                            </div>

                            <div class="col-5 text-end">
                                <p class="total_amt mb-2">₹15150</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <div class="form-check mb-3">
                                    <input class="form-check-input" type="radio" name="paymentType" id="bankTransfer">
                                    <label class="form-check-label" for="bankTransfer">
                                        Direct Bank Transfer
                                    </label>
                                </div>
                                <p class="text-muted sub_text text-start">Make your payment directly into our bank
                                    account.
                                    Please use your Order ID as the payment reference.</p>
                            </div>
                            <div class="col-12">
                                <div class="form-check mb-3">
                                    <input class="form-check-input" type="radio" name="paymentType" id="checkPayment"
                                        checked>
                                    <label class="form-check-label" for="checkPayment">
                                        Check Payment
                                    </label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-check mb-3">
                                    <input class="form-check-input" type="radio" name="paymentType" id="cashonDelivery"
                                        checked>
                                    <label class="form-check-label" for="cashonDelivery">
                                        Cash On Delivery
                                    </label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-check mb-3">
                                    <input class="form-check-input" type="radio" name="paymentType" id="upiId" checked>
                                    <label class="form-check-label" for="upiId">
                                        UPI
                                    </label>
                                    <img src="assets/images/payment.png" alt="" class="img-fluid ms-3">
                                </div>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary w-100 my-3">Place Order</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>