.main {
    min-height: 90vh;
    overflow: hidden;
    margin-top: 4.8rem;
    background: #fafafa;
    padding: 2rem 1rem;
    // background: #f2f2f2;
}

.main_page{
    margin-top: 80px;
    min-height: 82vh;
}